.container {
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid black;
}

.container img {
    width: 200px;
    border-radius: 15px;
    border: 5px solid black;
}