body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #67717d;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin: 0;
}

.container {
    width: 950px;
    background-color: #ffffff;
    border: 1px solid #040404;
    padding: 20px;
}

.main-nav {
    background-color: #ffffff;
    border: 2px solid #000000;
    margin-bottom: 35px;
}

.main-nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li {
    padding: 0 15px;
}

.main-nav li:not(:last-child) {
    border-right: 2px solid #000000;
}

.main-nav a {
    text-decoration: none;
    color: #1310d0;
    font-weight: 500;
}

.transaction-form {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 40px;
}

.form-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    margin-bottom: 15px;
}

.upload-button {
    width: 150px;
    padding: 10px;
    border: 2px solid #00000034;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.form-right {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
}

.form-group label {
    text-align: right;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 2px solid #000000;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: none; 
}

.transaction-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.transaction-input-wrapper input {
    width: 50px;
}

.transaction-input-wrapper .note {
    font-size: 14px;
    color: #000000;
}

.checkbox-group {
    padding-left: 165px; 
    margin-bottom: 12px;
}

.checkbox-item {
    margin-bottom: 10px;
}

.checkbox-item input {
    margin-right: 4px;
}

.submit-container {
    text-align: center;
    margin-top:30px;
}